<h1 
  style="
    font-family: 'PingFang SC', 'Microsoft Yahei', '微软雅黑', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 24px;
  "
>
  重置密码
</h1>
<p
  style="
    font-family: 'PingFang SC', 'Microsoft Yahei', '微软雅黑', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  "
>
  请点击下方按钮进行密码重置。
</p>
<p>
  <a 
    style="
      font-family: 'PingFang SC', 'Microsoft Yahei', '微软雅黑', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      text-decoration: none;
      display: inline-block;
      align-items: center;
      justify-content: center;
      padding: 12px 24px;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 2px;
      background: #EB9050;
      color: #ffffff;
      border-radius: 8px;
    "
    target="_blank" 
    href="<%= PROTOCOL %>://<%= SITE_URL %>/reset-password?token=<%= token %>"
  >
    重置密码
  </a>
</p>
<div 
  style="
    border-radius: 8px;  
    padding: 8px 16px;
    background: #f0f0f0;
  "
>
  <p>
    <a 
      style="
        font-family: 'PingFang SC', 'Microsoft Yahei', '微软雅黑', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        text-decoration: none;
      "
      href="<%= PROTOCOL %>://<%= SITE_URL %>/reset-password?token=<%= token %>"
    >
      <%= PROTOCOL %>://<%= SITE_URL %>/reset-password?token=<%= token %>
    </a>
  </p>
  <p 
    style="
      font-family: 'PingFang SC', 'Microsoft Yahei', '微软雅黑', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.5);
    "
  >
    如果该按钮无法点击，请将该链接复制粘贴到你的浏览器地址栏中访问。
  </p>
</div>
<p 
  style="
    font-family: 'PingFang SC', 'Microsoft Yahei', '微软雅黑', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
  "
>
  该验证在15分钟内有效，15分钟后需要重新获取验证邮件。
</p>
<p 
  style="
    font-family: 'PingFang SC', 'Microsoft Yahei', '微软雅黑', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  "
>
  如果这不是您的邮件，请忽略。
</p>